﻿@model RequestOfferConditionVm




    <div class="col-md-2">
        @Html.LabelFor(mode => mode.ConditionId, htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="col-md-4">

        @Html.EditorFor(model => model.ConditionId, new { htmlAttributes = new { @class = "form-control input-circle" } })
    </div>



