﻿@model RequestsOffersContractsConditionsVm
<link href="~/Scripts/select2.css" rel="stylesheet" />

@{
    var RequestId = ViewBag.RequestId;

}
@using (Html.BeginForm("AddCondition", "ManageRequestContract", new { area = "Marketing" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <br />
                <h4 class="page-title"><a href="../../ManageRequestContract/Index1">رجوع للقائمه السابقه</a>--  </h4>  <h4 class="page-title"> @GlobalRes.AddOrUpdate شرط </h4>
                <br />

                <br />

            </div>
        </div>
    </div>
    @*<div class="modal-dialog modal-lg" style="width:1000px;">*@
    <div class="modal-content" style="width:1200px;">
        <div class="modal-header">
            @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
            <h4 class="modal-title">@GlobalRes.AddOrUpdate   شرط للعقد  رقم:@RequestId </h4>
        </div>
        <div class="modal-body" style="width:1200px;">
            <div class="panel">
                @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                <div class="panel-body p25 pb5">
                    <div class="tab-content pn br-n admin-form">
                        <div id="tab1_1" class="tab-pane active">
                            <input type="text" id="Id" hidden name="Id" />


                            <input type="text" value="@RequestId" id="OfferContractId" hidden name="OfferContractId" />





                            <div class="row">
                                @Html.Action("GetCondition")
                                <div class="col-md-4">
                                    <input type="button" value="@GlobalRes.btnSave" class="btn yellow Saveee" onclick="Save()" />

                                </div>
                            </div>
                            <br />
                            <br />


                            <div class="modal-header">
                                <h4 class="modal-title">الشروط  </h4>
                            </div>
                            <br />
                           

                       

                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8">
                                    @Html.Action("GetConditionList", new { RequestOfferId = RequestId })
                                </div>

                            </div>









                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*</div>*@

    @*<div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>*@

    <div class="modal fade" id="myModalAddEdit" role="dialog" data-backdrop="static"></div>



}






@section scripts {


    <script src="@Url.Content("~/Areas/Marketing/Scripts/ManageRequestOfferContract.js")"></script>

    @*<script type="text/javascript">

            $(document).ready(function () {
                ManageCustomers.init();

            })

        </script>*@
    <script src="~/Scripts/select2.min.js"></script>
    <script>
                $(document).ready(function () {
                    $('.select2').select2();
                    // $('.select5').select2();
                });
    </script>
    <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });

    </script>
}
