﻿
@model RequestOfferContractVm



@using (Html.BeginForm("Create", "ManageRequestContract", new { area = "Marketing" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-dialog" style="width: 900px;">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@MarketingRes.Details</h4>
            </div>
            <div class="modal-body" style="width :900px;">
                <div class="panel">
                    @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div id="tab1_1" class="tab-pane active">
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.HiddenFor(model => model.Id)
                                        @Html.HiddenFor(model => model.RequestOfferId)


                                        @Html.LabelFor(mode => mode.StartDate, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="StartDate" name="StartDate" class="form-control input-circle datepicker" value="@Model.StartDate"/>
                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.EndDate, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="EndDate" name="EndDate" class="form-control input-circle datepicker" value="@Model.EndDate" />

                                        @*@Html.EditorFor(model => model.NameEn, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.HiddenFor(model => model.Id)
                                        @Html.LabelFor(mode => mode.ContractId, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.ContractId, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>
                                    
                                </div>

                                <br />
                                <div class="row">
                                    <div class="col-md-5">

                                    </div>
                                    <div class="col-md-3">
                                        <input type="button" value="@GlobalRes.btnSave" class="btn yellow Saveee" onclick="Save()" />
                                        <button type="button" class="btn btn-default" data-dismiss="modal">@GlobalRes.btnCancel</button>
                                    </div>
                                </div>


                                <br />
                                <br />
                                @*<div class="modal-header">
                                    <h4 class="modal-title">الشروط  </h4>
                                </div>
                                <br />
                                <div class="row">
                                    @Html.Action("GetCondition")
                                    <div class="col-md-4">
                                        <input type="button" value="@GlobalRes.btnSave" class="btn yellow Saveee" onclick="Save()" />

                                    </div>
                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-8">
                                        @Html.Action("GetConditionList", new { RequestOfferId = Model.Id })
                                    </div>

                                </div>*@

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
                    </div>

                    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>
                    }



<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
    $("#StartDate").datepicker("setDate", 'yyyy-mm-dd');
    $("#EndDate").datepicker("setDate", 'yyyy-mm-dd');

    // LoadChangeCurruncy();
    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd'
    });

</script>


