﻿
@model IEnumerable<MarketingVm>

<div class="">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th>@MarketingRes.Id</th>
                        <th>@MarketingRes.CustId</th>
                        <th>@MarketingRes.ActivityId</th>
                        <th>@MarketingRes.EmployeeId</th>
                        <th>@MarketingRes.RequestStatusId</th>



                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.CustName</td>
                            <td>@item.ActivityName</td>
                            <td>@item.EmployeeName</td>
                            <td>@item.RequestStatusName</td>




                            <td>
                                <div class="btn-group display-inline pull-right text-align-left hidden-tablet">
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog fa-lg"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-xs pull-right">
                                        <li>
                                            <button type="button" class="btn btn-success   waves-effect waves-light m-b-0" id="btnUpdate" onclick="Edit(@item.Id)">@GlobalRes.btnEdit</button>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a type="button" class="btn btn-warning   waves-effect waves-light m-b-0" id="btnUpdate" @*onclick="Edit(@item.Id)"*@ href="@Url.Action("AddServices", new { Id=item.Id})">اضافة خدمه</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a type="button" class="btn btn-info   waves-effect waves-light m-b-0" id="btnUpdate" @*onclick="ChangeStatus(@item.Id)"*@ href="@Url.Action("AddStatus", new { Id=item.Id})">@GlobalRes.ChangeStatus</a>
                                        </li>
                                       

                                        <li class="divider"></li>
                                       

                                        <li class="text-align-center">
                                            <button type="button" class="btn btn-custom   waves-effect waves-light m-b-0" id="btnUpdate" onclick="SaveOffer(@item.Id)">@GlobalRes.RequestOffer</button>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="text-align-center">
                                            <button type="button" class="btn btn-danger  waves-effect waves-light m-b-0" onclick="Delete(@item.Id)"> @GlobalRes.btnDelete</button>
                                        </li>
                                        @*<li class="divider"></li>
                                        <li class="text-align-center">
                                            <a href="javascript:void(0);" class="btn btn-warning waves-effect waves-light m-b-0" aria-hidden="true">@GlobalRes.btnCancel</a>
                                        </li>*@
                                    
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        </div>
</div>

        <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


        </script>




