﻿
@model SupportRequestsVm



@using (Html.BeginForm("Create", "ManageSupportRequest", new { area = "SupportRequest" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Image)

    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-dialog" style="width: 900px;">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@BasicInputRes.Details</h4>
            </div>
            <div class="modal-body" style="width :900px;">
                <div class="panel">
                    @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div id="tab1_1" class="tab-pane active">
                                <div class="row">
                                    @Html.HiddenFor(model => model.Id)
                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.DepartmentId, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">

                                        @Html.EditorFor(model => model.DepartmentId, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>

                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.DescriptionProblem, htmlAttributes: new { @class = "control-label" })
                                    </div>

                                    <div class="col-md-4">
                                        <textarea  id="DescriptionProblem" name="DescriptionProblem" value="@Model.DescriptionProblem" class="form-control" > </textarea>

                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                  
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        @*<input type="text" id="NameEn" name="NameEn" value="@Model.NameEn" class="form-control" />*@

                                        @Html.LabelFor(mode => mode.Date, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="date" id="Date" name="Date" class="form-control" />

                                        @*@Html.EditorFor(model => model.NameEn, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                    <div class="col-md-2">
                                        @Html.HiddenFor(model => model.Id)
                                        @Html.LabelFor(mode => mode.HourDate, htmlAttributes: new { @class = "control-label" })
                                    </div>

                                    <div class="col-md-4">
                                        <input type="text" id="HourDate" name="HourDate" class="form-control" />

                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })*@

                                    </div>
                                </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-2">
                                            @*<input type="text" id="NameEn" name="NameEn" value="@Model.NameEn" class="form-control" />*@

                                            @Html.LabelFor(mode => mode.Image, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-4">
                                            <input type="file" id="file" name="file" value="@Model.Image" class="form-control" />

                                            @*@Html.EditorFor(model => model.NameEn, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                        </div>
                                    </div>
                                   
                                  
                                <br />
                                <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-3">
                                        <input type="button" value="@GlobalRes.btnSave" class="btn yellow Saveee" onclick="Save()" />
                                        <button type="button" class="btn btn-default" data-dismiss="modal">@GlobalRes.btnCancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
                    </div>

                    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>
                    }



<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
</script>


