﻿@model WorkingVm
<link href="~/Scripts/select2.css" rel="stylesheet" />

@{
    var RequestId = ViewBag.RequestId;

}
@using (Html.BeginForm("AddWorking", "ManageWorking", new { area = "Analyses" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <br />
                <h4 class="page-title"><a href="../../Analyses/ManageWorking/Index1">رجوع للقائمه السابقه</a>--  </h4>  <h4 class="page-title"> @GlobalRes.AddOrUpdate خطه تشغيل </h4>
                <br />

                <br />

            </div>
        </div>
    </div>
    @*<div class="modal-dialog modal-lg" style="width:1000px;">*@
    <div class="modal-content" style="width:1200px;">
        <div class="modal-header">
            @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
            <h4 class="modal-title">@GlobalRes.AddOrUpdate    خطه تشغيل للعقد  رقم:@RequestId </h4>
        </div>
        <div class="modal-body" style="width:1200px;">
            <div class="panel">
                @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                <div class="panel-body p25 pb5">
                    <div class="tab-content pn br-n admin-form">
                        <div id="tab1_1" class="tab-pane active">
                            @Html.HiddenFor(model => model.CustomerId)
                            @Html.HiddenFor(model => model.ContractId)
                            @Html.HiddenFor(model => model.RequestOffersId)
                            <input type="text" id="Id" hidden name="Id" class="form-control" value="" />


                            <div class="row">
                                <div class="col-md-2">
                                    <label>@BasicInputRes.StartDate</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="StartDate" name="StartDate" class="form-control datepicker" value="" />
                                    @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                </div>

                                <div class="col-md-2">
                                    <label>@BasicInputRes.EndDate</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="EndDate" name="EndDate" class="form-control datepicker" value="" />
                                    @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>@BasicInputRes.StartHour</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="StartHour" name="StartHour" class="form-control" value="" />
                                    @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                </div>


                                <div class="col-md-2">
                                    <label>@BasicInputRes.EndHour</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="EndHour" name="EndHour" class="form-control" value="" />
                                    @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                </div>

                            </div>

                            <br />






                            <br />
                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-3">
                                    &nbsp; &nbsp;&nbsp;&nbsp;
                                    <input type="button" value="@GlobalRes.btnSave" class="btn yellow Saveee" onclick="Save()" />
                                    @*<button type="button" class="btn btn-default" data-dismiss="modal">@GlobalRes.btnCancel</button>*@
                                </div>
                            </div>
                            <br />

                            <div class="modal-header">
                                <h4 class="modal-title">المهمات  </h4>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    @Html.Action("GetWorkingList", new { CustomerId = Model.CustomerId, RequestId = Model.RequestOffersId })
                                </div>



                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    @*</div>*@

    @*<div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>*@

    <div class="modal fade" id="myModalAddEdit" role="dialog" data-backdrop="static"></div>



}






@section scripts {
    <script>
     function Edit(Id, EndDate, StartDate, EndHour, StartHour)
    {
        $("#Id").val(Id);
        $("#EndDate").val(EndDate);
        $("#StartDate").val(StartDate);
        $("#EndHour").val(EndHour);
        $("#StartHour").val(StartHour);

    }

</script>

    <script src="@Url.Content("~/Areas/Analyses/Scripts/ManageWorking.js")"></script>

    @*<script type="text/javascript">

            $(document).ready(function () {
                ManageCustomers.init();

            })

        </script>*@
    <script src="~/Scripts/select2.min.js"></script>
    <script>
                $(document).ready(function () {
                    $('.select2').select2();
                    // $('.select5').select2();
                });
                $("#EndDate").datepicker("setDate", 'yyyy-mm-dd');
                $("#StartDate").datepicker("setDate", 'yyyy-mm-dd');


                // LoadChangeCurruncy();
                $('.datepicker').datepicker({
                    dateFormat: 'yy-mm-dd'
                });
    </script>
    <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });

    </script>
}
