﻿
@model IEnumerable<WorkingVm>

<div class="">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th>@MarketingRes.Id</th>
                     
                        <th>@MarketingRes.StartDate</th>
                        <th>@MarketingRes.EndDate</th>
                        <th>@BasicInputRes.StartHour</th>
                        <th>@BasicInputRes.EndHour</th>




                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.StartDate</td>
                            <td>@item.EndDate</td>
                           
                            <td>@item.StartHour</td>
                            <td>@item.EndHour</td>
                            


                            <td>
                                <div class="btn-group display-inline pull-right text-align-left hidden-tablet">
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog fa-lg"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-xs pull-right">




                                        <li class="divider"></li>
                                        <li>
                                            <button type="button" class="btn btn-success   waves-effect waves-light m-b-0" id="btnUpdate" onclick="Edit(@item.Id,'@item.EndDate','@item.StartDate','@item.EndHour','@item.StartHour')">@GlobalRes.btnEdit </button>
                                        </li>
                                        <li class="divider"></li>

                                        <li>
                                            <button type="button" class="btn btn-danger   waves-effect waves-light m-b-0" id="btnDelete" onclick="DeleteWorking(@item.Id)"> @GlobalRes.btnDelete</button>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="text-align-center">
                                            <a href="javascript:void(0);" class="btn btn-warning waves-effect waves-light m-b-0" aria-hidden="true">@GlobalRes.btnCancel</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


</script>
<script>

    function Edit(Id, EndDate, StartDate, EndHour, StartHour)
    {
        $("#Id").val(Id);
        $("#EndDate").val(EndDate);
        $("#StartDate").val(StartDate);
        $("#EndHour").val(EndHour);
        $("#StartHour").val(StartHour);

    }

</script>




