﻿
@model IEnumerable< RequestOfferContractVm>

<div class="">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th>@MarketingRes.Id</th>
                        <th>@MarketingRes.CustId</th>
                        <th>@MarketingRes.ActivityId</th>
                        <th>@MarketingRes.ServiceName</th>
                        <th>@MarketingRes.Contact</th>
                        <th>@MarketingRes.EmployeeId</th>
                        <th>@MarketingRes.ContractId</th>
                        <th>@MarketingRes.StartDate</th>
                        <th>@MarketingRes.EndDate</th>




                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.CustName</td>
                            <td>@item.ActivityName</td>
                            <td><button type="button" id="btnUpdate" onclick="GetServices(@item.RequestId)">@GlobalRes.GetServices</button></td>
                            <td><button type="button" id="btnUpdate" onclick="GetContact(@item.CustomerId)">@GlobalRes.GetContact</button></td>

                            <td>@item.EmployeeName</td>
                            <td>@item.ContractName</td>
                            <td>@item.StartDate</td>
                            <td>@item.EndDate</td>








                            <td>
                                <div class="btn-group display-inline pull-right text-align-left hidden-tablet">
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog fa-lg"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-xs pull-right">
                                       
                                     


                                        <li class="divider"></li>
                                        <li>
                                            <a type="button"  class="btn btn-success   waves-effect waves-light m-b-0" id="btnUpdate"href="@Url.Action("AddWorking", new { RequestOfferId=item.Id, CustomerId =item.CustomerId, ContractId =item.ContractId})">اضافه خطه</a>


                                            @*<button type="button"  class="btn btn-success   waves-effect waves-light m-b-0" id="btnUpdate" onclick="Edit(@item.Id,@item.CustomerId,@item.ContractId)">اضافه خطه</button>*@
                                        </li>
                                        <li class="divider"></li>
                                        
                                        <li class="divider"></li>
                                        <li class="text-align-center">
                                            <a href="javascript:void(0);" class="btn btn-warning waves-effect waves-light m-b-0" aria-hidden="true">@GlobalRes.btnCancel</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        </div>
</div>

        <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


        </script>




