﻿@model RequestOfferVm




    <div class="col-md-2">
        @Html.LabelFor(mode => mode.OfferId, htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="col-md-4">

        @Html.EditorFor(model => model.OfferId, new { htmlAttributes = new { @class = "form-control input-circle" } })
    </div>




