﻿
@model BasicInputVm

<link href="~/Scripts/select2.css" rel="stylesheet" />


@using (Html.BeginForm("Create", "ManageEmployeeSpecializations", new { area = "BasicInput" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-dialog" style="width: 900px;">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@GlobalRes.AddOrUpdate &nbsp; &nabla; @GlobalRes.EmployeeSpecializations</h4>
            </div>
            <div class="modal-body" style="width :900px;">
                <div class="panel">
                    @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div id="tab1_1" class="tab-pane active">
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.HiddenFor(model => model.Id)
                                        @Html.LabelFor(mode => mode.NameAr, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="NameAr" name="NameAr" value="@Model.NameAr" class="form-control" />

                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                    <div class="col-md-2">
                                        @*<input type="text" id="NameEn" name="NameEn" value="@Model.NameEn" class="form-control" />*@

                                        @Html.LabelFor(mode => mode.NameEn, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="NameEn" name="NameEn" value="@Model.NameEn" class="form-control" />

                                        @*@Html.EditorFor(model => model.NameEn, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                </div>

                                <br />
                                <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-3">
                                        <input type="button" value="@GlobalRes.btnSave" class="btn yellow Saveee" onclick="Save()" />
                                        <button type="button" class="btn btn-default" data-dismiss="modal">@GlobalRes.btnCancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
                    </div>

                    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>
                    }



<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
</script>


<script src="~/Scripts/select2.min.js"></script>
<script>
        $(document).ready(function () {
            $('.select2').select2();
            // $('.select5').select2();
        });
</script>