﻿@using Customers.Helpers.Utilities;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="~/assets/images/favicon_1.ico">

    <title>@GlobalRes.CustomerServices</title>

    @*<link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />*@

    <link href="~/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="~/plugins/jquery-circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/plugins/morris/morris.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @if (ResourcesReader.IsArabic)
    {
        <link href="~/assets/css/AR/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/AR/icons.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/AR/style.css" rel="stylesheet" type="text/css">

    }
    else
    {
        <link href="~/assets/css/EN/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/EN/icons.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/EN/style.css" rel="stylesheet" type="text/css">
    }

    <script src="~/assets/js/modernizr.min.js"></script>

    <link href="~/Content/toastr.min.css" rel="stylesheet" />



</head>

<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a href="index.html" class="logo"><i class="mdi mdi-radar"></i> <span> @GlobalRes.CustomerServices</span></a>
                </div>
            </div>
        
            <!-- Button mobile view to collapse sidebar menu -->
            <nav class="navbar-custom">
        
                <ul class="list-inline float-right mb-0">
                    <li class="list-inline-item notification-list hide-phone">
                        <a class="nav-link waves-light waves-effect" href="#" id="btn-fullscreen">
                            <i class="mdi mdi-crop-free noti-icon"></i>
                        </a>
                    </li>

                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            @Html.Partial("~/Views/Base/ToggleLanguage.cshtml")


                            @*<img src="~/assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle">*@
                        </a>

                    </li>
                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <i class="mdi mdi-bell noti-icon"></i>
                            <span class="badge badge-pink noti-icon-badge">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg" aria-labelledby="Preview">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="font-16"><span class="badge badge-danger float-right">5</span>Notification</h5>
                            </div>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-success"><i class="mdi mdi-comment-account"></i></div>
                                <p class="notify-details">Robert S. Taylor commented on Admin<small class="text-muted">1 min ago</small></p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-info"><i class="mdi mdi-account"></i></div>
                                <p class="notify-details">New user registered.<small class="text-muted">1 min ago</small></p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-danger"><i class="mdi mdi-airplane"></i></div>
                                <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">1 min ago</small></p>
                            </a>

                            <!-- All-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
                                View All
                            </a>

                        </div>
                    </li>

                    @if (ResourcesReader.UserId == null || ResourcesReader.UserId==0)
                    {
                        <a  href="~/Account/Login"> تسجيل الدخول</a>
                    }
                    else
                    {

                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <img src="~/assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="text-overflow"><small>Welcome  @ResourcesReader.UserNamelogin</small> </h5>
                            </div>

                            <!-- item-->
                            @*<a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-star-variant"></i> <span>Profile</span>
                    </a>*@

                            <!-- item-->
                            @*<a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-settings"></i> <span>Settings</span>
                    </a>*@

                            <!-- item-->
                            @*<a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-lock-open"></i> <span>Lock Screen</span>
                    </a>*@

                            <!-- item-->
                            <a href="@Url.Action("LogOff", "Account", new { area = "" })" class="dropdown-item notify-item">
                                <i class="mdi mdi-logout"></i> <span>Logout</span>
                            </a>

                        </div>
                    </li>

                    }



                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-light waves-effect">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </li>
                    @*<li class="hide-phone app-search">
                        <form role="search" class="">
                            <input type="text" placeholder="Search..." class="form-control">
                            <a href=""><i class="fa fa-search"></i></a>
                        </form>
                    </li>*@
                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->
       
        <!-- ========== Left Sidebar Start ========== -->
     @*@Html.Action("GetCount","Home")*@
        @Html.Action("_SideMenu", "Home", new { area = string.Empty });
        @*<div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <div id="sidebar-menu">
                    <ul>

                        <li>
                            <a href="@Url.Action("Index", "Home", new { area = "" })" class="waves-effect waves-primary">
                                <i class="ti-home"></i><span>@GlobalRes.MainPage</span>
                            </a>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span> @GlobalRes.BasicInput </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index1", "ManageCustomerActivities", new { area = "BasicInput" })">@GlobalRes.CustomerActivities</a></li>
                                <li><a href="@Url.Action("Index1", "ManageCustomerStatus", new { area = "BasicInput" })">@GlobalRes.CustomerStatus</a></li>
                                <li><a href="@Url.Action("Index1", "ManageEmployeeSpecializations", new { area = "BasicInput" })">@GlobalRes.EmployeeSpecializations</a></li>
                                <li><a href="@Url.Action("Index1", "ManageTasksAnalysis", new { area = "BasicInput" })">@GlobalRes.TasksAnalysis</a></li>
                                <li><a href="@Url.Action("Index1", "ManageTasksEngineers", new { area = "BasicInput" })">@GlobalRes.TasksEngineers</a></li>
                                <li><a href="@Url.Action("Index1", "ManageWorkSystem", new { area = "BasicInput" })">@GlobalRes.WorkSystem</a></li>
                               
                                <li><a href="@Url.Action("Index1", "ManageServices", new { area = "BasicInput" })">@GlobalRes.Services</a></li>
                                <li><a href="@Url.Action("Index1", "ManageItems", new { area = "BasicInput" })">@GlobalRes.Items</a></li>
                                <li><a href="@Url.Action("Index1", "ManageCustomers", new { area = "BasicInput" })">@GlobalRes.Customers</a></li>
                                <li><a href="@Url.Action("Index1", "ManageContracts", new { area = "BasicInput" })">@GlobalRes.Contracts</a></li>
                                <li><a href="@Url.Action("Index1", "ManagePricesOffers", new { area = "BasicInput" })">@GlobalRes.PriceOffers</a></li>
                                <li><a href="@Url.Action("Index1", "ManageEmployees", new { area = "BasicInput" })">@GlobalRes.Employees</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Marketing (@ViewBag.Marketing) </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index1", "ManageRequest", new { area = "Marketing" })">@GlobalRes.Order</a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span> @GlobalRes.PriceOffers  </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index1", "ManageRequestOffer", new { area = "Marketing" })">@GlobalRes.OrderInput</a></li>

                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Contracts  </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index1", "ManageRequestContract", new { area = "Marketing" })">@GlobalRes.Contracts (@ViewBag.AA)</a></li>

                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Analysis  </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">

                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Running  </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled"></ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span> @GlobalRes.SupportRequests  </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled"></ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Engineers  </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled"></ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Visits  </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled"></ul>
                        </li>
                        

                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>*@
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">

                    @RenderBody()
                    </div>
                </div>
            </div>
                    <!-- ============================================================== -->
                    <!-- End Right content here -->
                    <!-- ============================================================== -->
                    <!-- Right Sidebar -->
                    
                    <!-- /Right-bar -->

                </div>
                <!-- END wrapper -->



                <script>
                    var resizefunc = [];
                </script>


                <!-- Plugins  -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

                @*<script src="~/assets/js/jquery.min.js"></script>*@



    @*<script src="~/assets/js/jquery.min.js"></script>*@

                <script src="~/assets/js/popper.min.js"></script><!-- Popper for Bootstrap -->
                <script src="~/assets/js/bootstrap.min.js"></script>
                <script src="~/assets/js/detect.js"></script>
                <script src="~/assets/js/fastclick.js"></script>
                <script src="~/assets/js/jquery.slimscroll.js"></script>
                <script src="~/assets/js/jquery.blockUI.js"></script>
                <script src="~/assets/js/waves.js"></script>
                <script src="~/assets/js/wow.min.js"></script>
                <script src="~/assets/js/jquery.nicescroll.js"></script>
                <script src="~/assets/js/jquery.scrollTo.min.js"></script>
                <script src="~/plugins/switchery/switchery.min.js"></script>

    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.extention.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>

    <!-- Required datatable js -->
    @*<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables/jszip.min.js"></script>
    <script src="~/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables/responsive.bootstrap4.min.js"></script>*@



    @*-----------------------------------------Start DataTable------------------------------------------------*@

    <link href="~/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Required datatable js -->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
    @*-----------------------------------------End DataTable------------------------------------------------*@

                <!-- Counter Up  -->
                <script src="~/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
                <script src="~/plugins/counterup/jquery.counterup.min.js"></script>

                <!-- circliful Chart -->
                <script src="~/plugins/jquery-circliful/js/jquery.circliful.min.js"></script>
                <script src="~/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

               

                <!-- skycons -->
                  <script src="~/plugins/skyicons/skycons.min.js" type="text/javascript"></script>

                <!-- Page js  -->
                <script src="~/assets/pages/jquery.dashboard.js"></script>

              <script src="~/plugins/custombox/dist/custombox.min.js"></script>
              <script src="~/plugins/custombox/dist/legacy.min.js"></script>
                <!-- Custom main Js -->
                <script src="~/assets/js/jquery.core.js"></script>
                <script src="~/assets/js/jquery.app.js"></script>


                @RenderSection("scripts", required: false)

   

                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        $('.counter').counterUp({
                            delay: 100,
                            time: 1200
                        });
                        $('.circliful-chart').circliful();
                    });

                    // BEGIN SVG WEATHER ICON
                    if (typeof Skycons !== 'undefined') {
                        var icons = new Skycons(
                                { "color": "#3bafda" },
                                { "resizeClear": true }
                                ),
                                list = [
                                    "clear-day", "clear-night", "partly-cloudy-day",
                                    "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                                    "fog"
                                ],
                                i;

                        for (i = list.length; i--;)
                            icons.set(list[i], list[i]);
                        icons.play();
                    };

                </script>


</body>
</html>




