﻿
@model AnalysesRequestVm



@using (Html.BeginForm("AddEng", "ManageAnalysesRequest", new { area = "Analyses" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-dialog" style="width: 900px;">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">@BasicInputRes.Details</h4>
            </div>
            <div class="modal-body" style="width :900px;">
                <div class="panel">
                    @*<div class="panel-heading">
                            <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                        </div>*@
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div id="tab1_1" class="tab-pane active">

                               @Html.HiddenFor(model=>model.Id)
                                @Html.HiddenFor(model => model.CustomerId)
                                @Html.HiddenFor(model => model.CustomerAnalysesId)
                                @Html.HiddenFor(model => model.AnalysesDate)



                                <div class="row">
                                    <div class="col-md-2">

                                        @Html.LabelFor(mode => mode.EngId, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.EngId, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="button" value="@GlobalRes.btnSave" class="btn yellow Saveee" onclick="Save()" />
                                        <button type="button" class="btn btn-default" onclick="Hide()">@GlobalRes.btnCancel</button>

                                    </div>

                                </div>
                               <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>
}



<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
</script>

<script>
    function Edit(Id, CustomerAnalysesId, AnalysesDate) {
        $("#Id").val(Id);
        $("#CustomerAnalysesId").val(CustomerAnalysesId);

        $("#AnalysesDate").val(AnalysesDate);

    }
    function Hide() {
        window.location = "../ManageAnalysesRequest/Index1";

        $('#myModalAddEdit').modal('hide');

    }
</script>


