﻿
@model AnalysesRequestVm

@{ 
    var DateT = ViewBag.Date;
    DateT = "1/1/2018";
}

<link href="~/Scripts/select2.css" rel="stylesheet" />

@using (Html.BeginForm("Create", "ManageAnalysesRequest", new { area = "Analyses" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-dialog" style="width: 900px;">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@BasicInputRes.Details</h4>
            </div>
            <div class="modal-body" style="width :900px;">
                <div class="panel">
                    @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div id="tab1_1" class="tab-pane active">

                                <div class="row">
                                    <div class="col-md-2">
                                        <input type="text" id="Id"  hidden name="Id" class="form-control" value="" />

                                        @Html.HiddenFor(model => model.CustomerId)
                                        @Html.LabelFor(mode => mode.CustomerAnalysesId, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.CustomerAnalysesId, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>
                                    <div class="col-md-2">

                                        <label>@AnalysesRes.AnalysesDate</label>

                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="AnalysesDate" name="AnalysesDate"  class="form-control input-circle datepicker" value=""  />
                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                </div>
                            
                                <br />
                                

                              
                                @*@Html.Action("GetAnalysesData")*@
                            <br />
                           

                                <br />
                                <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-3">
                                        <input type="button" value="@GlobalRes.btnSave" class="btn yellow Saveee" onclick="Save()" />
                                        <button type="button" class="btn btn-default" data-dismiss="modal">@GlobalRes.btnCancel</button>
                                    </div>
                                </div>
                                <br />
                               
                                <div class="modal-header">
                                    <h4 class="modal-title">التحاليل  </h4>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        @Html.Action("GetAnalysesList", new { CustomerId = Model.CustomerId })
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
                    </div>

                    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>
                    }



<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
</script>

<script>
    function Edit(Id, CustomerAnalysesId, AnalysesDate) {
        $("#Id").val(Id);
        $("#CustomerAnalysesId").val(CustomerAnalysesId);

        $("#AnalysesDate").val(AnalysesDate);
    }
</script>

<script src="~/Scripts/select2.min.js"></script>
<script>
        $(document).ready(function () {
            $('.select2').select2();
            // $('.select5').select2();
        });
        $("#AnalysesDate").datepicker("setDate", 'yyyy-mm-dd');

        // LoadChangeCurruncy();
        $('.datepicker').datepicker({
            dateFormat: 'yy-mm-dd'
        });
</script>