﻿
@model AnalysesVisitsVm



@using (Html.BeginForm("Createvisit", "ManageAnalysesRequest", new { area = "Analyses" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-dialog" style="width: 900px;">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">@BasicInputRes.Details</h4>
            </div>
            <div class="modal-body" style="width :900px;">
                <div class="panel">
                    @*<div class="panel-heading">
                            <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                        </div>*@
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div id="tab1_1" class="tab-pane active">

                                <div class="row">
                                  

                                        @Html.HiddenFor(model => model.AnalysesRequestId)
                                    

                                    <div class="col-md-2">

                                        <label>@AnalysesRes.Nots</label>

                                    </div>
                                    <div class="col-md-4">
                                        <textarea type="text" id="Nots" name="Nots" class="form-control" >
                                             
                                        </textarea>
                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                    <div class="col-md-2">

                                        <label>@AnalysesRes.Visitdate</label>

                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="Visitdate" name="Visitdate"  class="form-control input-circle datepicker" />
                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">

                                        <label>@BasicInputRes.Images</label>

                                    </div>
                                    <div class="col-md-4">
                                        <input type="file" id="file" name="file" class="form-control" />
                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                </div>

                                <br />



                                @*@Html.Action("GetAnalysesData")*@
                                <br />


                                <br />
                                <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-3">
                                        <input type="button" value="@GlobalRes.btnSave" class="btn yellow Saveee" onclick="SaveWitheFile()" />
                                        <button type="button" class="btn btn-default" onclick="Hide()">@GlobalRes.btnCancel</button>
                                    </div>
                                </div>
                                <br />

                                <div class="modal-header">
                                    <h4 class="modal-title"> الزيارات  </h4>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        @Html.Action("GetVisitList", new { RequestId = Model.AnalysesRequestId })
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>
}



<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
</script>

<script>
    //function Edit(Id, CustomerAnalysesId, AnalysesDate) {
    //    $("#Id").val(Id);
    //    $("#CustomerAnalysesId").val(CustomerAnalysesId);

    //    $("#AnalysesDate").val(AnalysesDate);

    //}
    function Hide() {
        window.location = "../ManageAnalysesRequest/Index1";

        $('#myModalAddEdit').modal('hide');



    }

    $("#Visitdate").datepicker("setDate", 'yyyy-mm-dd');

    // LoadChangeCurruncy();
    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd'
    });
</script>


