﻿
@model IEnumerable<CustomerVm>

<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            @*<h4 class="m-t-0 header-title"><b>Default Example</b></h4>
                <p class="text-muted font-13 m-b-30">
                    DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>.
                </p>*@
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th>@BasicInputRes.Id</th>
                        <th>@BasicInputRes.NameAr</th>
                        <th>@MarketingRes.ServiceName</th>
                        <th>@MarketingRes.Contact</th>
                        <th>@MarketingRes.EmployeeId</th>
                        <th>@MarketingRes.Contracts</th>
                       


                      



                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.NameAr</td>
                            <td><button type="button" id="btnUpdate" onclick="GetServices(@item.Id)">@GlobalRes.GetServices</button></td>
                            <td><button type="button" id="btnUpdate" onclick="GetContact(@item.Id)">@GlobalRes.GetContact</button></td>
                            <td>@item.EmployeeName</td>
                            <td><button type="button" id="btnUpdate" onclick="GetContract(@item.Id)">@GlobalRes.Contracts</button></td>
                          

                           




                            <td>
                                <div class="btn-group display-inline pull-right text-align-left hidden-tablet">
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog fa-lg"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-xs pull-right">
                                      
                                        <li class="text-align-center">
                                            <button type="button" class="btn btn-success   waves-effect waves-light m-b-0" id="btnUpdate" onclick="Edit(@item.Id)">ارفاق تحليل</button>
                                        </li>
                                       
                                        <li class="divider"></li>
                                        <li class="text-align-center">
                                            <a href="javascript:void(0);" class="btn btn-warning waves-effect waves-light m-b-0" aria-hidden="true">@GlobalRes.btnCancel</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


</script>




