﻿
@model IEnumerable<PriceOffersConditionVm>

<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>

                        <th>الكود</th>
                        <th>اسم الشرط</th>





                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>

                            <td>@item.Id</td>
                            <td>@item.ConditionsName</td>






                            <td>
                                <div class="btn-group display-inline pull-right text-align-left hidden-tablet">
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog fa-lg"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-xs pull-right">
                                        <li>
                                            @*<button type="button" class="fa fa-pencil-square-o" id="btnUpdate" onclick="EditComm(@item.Id,'@item.Name','@item.JobeName','@item.PhoneNumber','@item.Email')"></button>*@
                                        </li>
                                        <li class="divider"></li>

                                        <li class="text-align-center">
                                            <button type="button" class="btn btn-danger  waves-effect waves-light m-b-0" onclick="DeleteItems(@item.Id)"> @GlobalRes.btnDelete</button>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="text-align-center">
                                            <a href="javascript:void(0);" class="btn btn-warning waves-effect waves-light m-b-0" aria-hidden="true">@GlobalRes.btnCancel</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

        </div>
    </div>









