﻿
@model CustomerVm

@{
    var Id = ViewBag.Id;
}
<link href="~/Scripts/select2.css" rel="stylesheet" />


@using (Html.BeginForm("Create", "ManageCustomers", new { area = "BasicInput" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <br />
                <h4 class="page-title"><a href="~/Home/index">@GlobalRes.MainPage</a>--  </h4>  <h4 class="page-title"> @GlobalRes.AddOrUpdateCustomer </h4>
                <br />

            </div>
        </div>
        </div>
        @*<div class="modal-dialog modal-lg" style="width:1000px;">*@
        <div class="modal-content" style="width:1200px;">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">@GlobalRes.CustomerDetails</h4>
            </div>
            <div class="modal-body" style="width:1200px;">
                <div class="panel">
                    @*<div class="panel-heading">
                            <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                        </div>*@
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div id="tab1_1" class="tab-pane active">
                                <div class="form-group row">
                                    <div class="col-md-2">

                                        @Html.HiddenFor(model => model.Id)
                                        @Html.LabelFor(mode => mode.NameAr, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control" } })*@


                                        <input type="text" class="form-control" id="NameAr" name="NameAr" value="@Model.NameAr">
                                    </div>

                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.NameEn, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="NameEn" name="NameEn" value="@Model.NameEn">

                                        @*@Html.EditorFor(model => model.NameEn, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                </div>


                                <br />
                                <div class="row">

                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.CustomerActivityId, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">

                                        @Html.EditorFor(model => model.CustomerActivityId, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>

                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.CustomerAddress, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="CustomerAddress" name="CustomerAddress" value="@Model.CustomerAddress">

                                        @*@Html.EditorFor(model => model.CustomerAddress, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>

                                </div>

                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.CustomerWebSite, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="CustomerWebSite" name="CustomerWebSite" value="@Model.CustomerWebSite">

                                        @*@Html.EditorFor(model => model.CustomerWebSite, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>

                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.Details, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <textarea class="form-control" id="Details" name="Details" placeholder="@Model.Details"></textarea>

                                        @*@Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                </div>
                                <br />
                                @if (Model.Id == 0)
                                {
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.UserName, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="UserName" name="UserName" value="@Model.UserName">

                                        @*@Html.EditorFor(model => model.CustomerWebSite, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>

                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.Password, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password">

                                        @*@Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                </div>
                                }


                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-5">
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                                        @if (Model.Id != 0)
                                        {

                                        <input type="button" value="@GlobalRes.btnEdit" class="btn yellow Saveee" onclick="Save()" />
                                        }
                                        else
                                        {
                                            <input type="button" value="@GlobalRes.btnSave" class="btn yellow Saveee" onclick="Save()" />

                                        }

                                    </div>
                                </div>


                                <br />
                                <div class="modal-header">
                                    <h4 class="modal-title"> اضافه بيانات التواصل   </h4>
                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-md-2">
                                        <label>الاسم</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="CommId" name="CommId" hidden />
                                        <input type="text" class="form-control" id="CommName" name="CommName">

                                        @*@Html.EditorFor(model => model.NameEn, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                    <div class="col-md-2">
                                        <label>الوظيفه</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="JobName" name="JobName">

                                        @*@Html.EditorFor(model => model.NameEn, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>الهاتف</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber">

                                        @*@Html.EditorFor(model => model.NameEn, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                    <div class="col-md-2">
                                        <label>الاميل</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="Email" name="Email">

                                        @*@Html.EditorFor(model => model.NameEn, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                </div>
                                <br />
                                <div class="row">

                                    <div class="col-md-6"></div>
                                    <div class="col-md-4">
                                       &nbsp; &nbsp; &nbsp; &nbsp;
                                        <input type="button" value="@GlobalRes.btnSave" class="btn yellow Saveee" onclick="Save()" />
                                    </div>

                                </div>
                                <br />
                                <br />
                                <br />

                                @if (Model.Id != 0)
                                {
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <br />
                                            @Html.Action("CommunicationOfficer", new { Id = Model.Id })


                                        </div>
                                    </div>
                                }
                                <br />


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        @*</div>*@

        @*<div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>*@

        <div class="modal fade" id="myModalAddEdit" role="dialog" data-backdrop="static"></div>



}



        <script>
            //$(document).ready(function () {
            //    $("input[type=text]").addClass("gui-input");
            //});

            function EditComm(Id, Name, JobName, PhoneNumber, Email) {
                $("#CommName").val(Name);
                $("#JobName").val(JobName);
                $("#PhoneNumber").val(PhoneNumber);
                $("#Email").val(Email);
                $("#CommId").val(Id);



            }
           
        </script>



        @section scripts {


            <script src="@Url.Content("~/Areas/BasicInput/Scripts/MangeCustomers.js")"></script>

            @*<script type="text/javascript">

                $(document).ready(function () {
                    ManageCustomers.init();

                })

            </script>*@
            <script src="~/Scripts/select2.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('.select2').select2();
                    // $('.select5').select2();
                });
            </script>
<script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });

</script>
        }
