﻿@model ContractsItemsVm




    <div class="col-md-2">
        @Html.LabelFor(mode => mode.ItemsId, htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="col-md-4">

        @Html.EditorFor(model => model.ItemsId, new { htmlAttributes = new { @class = "form-control input-circle" } })
    </div>



