﻿
@model IEnumerable<VisitVm>

<div class="">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th>@VisitRes.Id</th>
                        <th>@VisitRes.VisitDetails</th>
                        <th>@VisitRes.ImportantInformation</th>
                    
                        <th>@VisitRes.IsFix</th>
                        <th>@VisitRes.VisitDate</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.VisitDetails</td>

                            <td>@item.ImportantInformation</td>
                            @if (item.IsFix == true)
                            {
                                <td>نعم</td>
                            }
                            else
                            {
                            <td>لا</td>
                            }

                            <td>@item.VisitDate</td>





                          

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


</script>




