﻿@model VisitVm
<link href="~/Scripts/select2.css" rel="stylesheet" />

@{
    var CustomerId = ViewBag.CustomerId;
    var CustomerName = ViewBag.CustomerName;

}
@using (Html.BeginForm("AddVisit", "ManageVisites", new { area = "Visites" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <br />
                <h4 class="page-title"><a href="../ManageVisites/Index1">رجوع للقائمه السابقه</a>--  </h4>  <h4 class="page-title"> @GlobalRes.AddOrUpdate زياره </h4>
                <br />

                <br />

            </div>
        </div>
    </div>
    @*<div class="modal-dialog modal-lg" style="width:1000px;">*@
    <div class="modal-content" style="width:1200px;">
        <div class="modal-header">
            @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
            <h4 class="modal-title">@GlobalRes.AddOrUpdate   اضافه زياره ل  :@CustomerName </h4>
        </div>
        <div class="modal-body" style="width:1200px;">
            <div class="panel">
                @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                <div class="panel-body p25 pb5">
                    <div class="tab-content pn br-n admin-form">
                        <div id="tab1_1" class="tab-pane active">
                            <input type="text" id="Id" hidden name="Id" />


                            <input type="text" value="@CustomerId" id="CustomerId" hidden name="CustomerId" />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>تفاصيل الزياره</label>
                                    @*@Html.LabelFor(mode => mode.VisitDetails, htmlAttributes: new { @class = "control-label" })*@
                                </div>
                                <div class="col-md-4">

                                    <textarea name="VisitDetails" id="VisitDetails" class="form-control"></textarea>
                                </div>
                                <div class="col-md-2">
                                    <label>اهم التوصيات</label>
                                    @*@Html.LabelFor(mode => mode.ImportantInformation, htmlAttributes: new { @class = "control-label" })*@
                                </div>
                                <div class="col-md-4">
                                    <textarea name="ImportantInformation" id="ImportantInformation" class="form-control"></textarea>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                       <label> هل حلت المشكله</label>
                                       </div>
                                <div class="col-md-4">

                                    <input type="checkbox" name="IsFix" id="IsFix" class="form-control"  />
                                </div>
                                
                            </div>
                            <br />
                          
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-3">

                                </div>

                                <div class="col-md-3">
                                    <input type="button" value="@GlobalRes.btnSave" class="btn yellow Saveee" onclick="Save()" />
                                </div>
                            </div>
                            <br />
                            <div class="modal-header">
                                <h4 class="modal-title">الزيارات السابقه  </h4>
                            </div>
                            <br />
                            <br />




                            <br />
                            <br />
                            <br />

                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8">
                                    @Html.Action("GetVisit", new { CustomerId = CustomerId })
                                </div>

                            </div>


                            <br />




















                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*</div>*@

    @*<div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>*@

    <div class="modal fade" id="myModalAddEdit" role="dialog" data-backdrop="static"></div>



}






@section scripts {


    <script src="@Url.Content("~/Areas/Marketing/Scripts/ManageRequest.js")"></script>

    @*<script type="text/javascript">

            $(document).ready(function () {
                ManageCustomers.init();

            })

        </script>*@
    <script src="~/Scripts/select2.min.js"></script>
    <script>
                $(document).ready(function () {
                    $('.select2').select2();
                    // $('.select5').select2();
                });
    </script>
    <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });

    </script>
}
