﻿<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                @*<li class="menu-title">Main</li>*@

                <li>
                    <a href="@Url.Action("Index", "Home", new { area = "" })" class="waves-effect waves-primary">
                        <i class="ti-home"></i><span>@GlobalRes.MainPage</span>
                    </a>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-paint-bucket"></i> <span> @GlobalRes.BasicInput </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index1", "ManageCustomerActivities", new { area = "BasicInput" })">@GlobalRes.CustomerActivities</a></li>
                        <li><a href="@Url.Action("Index1", "ManageCustomerStatus", new { area = "BasicInput" })">@GlobalRes.CustomerStatus</a></li>
                        <li><a href="@Url.Action("Index1", "ManageEmployeeSpecializations", new { area = "BasicInput" })">@GlobalRes.EmployeeSpecializations</a></li>
                        <li><a href="@Url.Action("Index1", "ManageTasksAnalysis", new { area = "BasicInput" })">@GlobalRes.TasksAnalysis</a></li>
                        <li><a href="@Url.Action("Index1", "ManageTasksEngineers", new { area = "BasicInput" })">@GlobalRes.TasksEngineers</a></li>
                        <li><a href="@Url.Action("Index1", "ManageWorkSystem", new { area = "BasicInput" })">@GlobalRes.WorkSystem</a></li>
                        <li><a href="@Url.Action("Index1", "ManageCustomerAnalyses", new { area = "BasicInput" })">@GlobalRes.ClientAnalyses</a></li>


                        <li><a href="@Url.Action("Index1", "ManageServices", new { area = "BasicInput" })">@GlobalRes.Services</a></li>
                        <li><a href="@Url.Action("Index1", "ManageItems", new { area = "BasicInput" })">@GlobalRes.Items</a></li>
                        <li><a href="@Url.Action("Index1", "ManageContracts", new { area = "BasicInput" })">@GlobalRes.Contracts</a></li>
                        <li><a href="@Url.Action("Index1", "ManagePricesOffers", new { area = "BasicInput" })">@GlobalRes.PriceOffers</a></li>
                        <li><a href="@Url.Action("Index1", "ManageEmployees", new { area = "BasicInput" })">@GlobalRes.Employees</a></li>
                    </ul>
                </li>

                <li class="has_sub">

                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-paint-bucket"></i> <span> @GlobalRes.Customers </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index1", "ManageCustomers", new { area = "BasicInput" })">@GlobalRes.Customers</a></li>
                        <li><a href="@Url.Action("Create", "ManageCustomers", new { area = "BasicInput" })">@GlobalRes.CustomersCreate</a></li>

                    </ul>

                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-paint-bucket"></i> <span> @GlobalRes.Marketing (@ViewBag.Marketing) </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index1", "ManageRequest", new { area = "Marketing" })">@GlobalRes.OrderInput (@ViewBag.Marketing)</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-paint-bucket"></i> <span> @GlobalRes.PriceOffers (@ViewBag.OfferPrice) </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index1", "ManageRequestOffer", new { area = "Marketing" })">@GlobalRes.OrderInput (@ViewBag.OfferPrice)</a></li>

                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-paint-bucket"></i> <span> @GlobalRes.Contracts (@ViewBag.Contract) </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index1", "ManageRequestContract", new { area = "Marketing" })">@GlobalRes.OrderInput (@ViewBag.Contract)</a></li>

                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-paint-bucket"></i> <span> @GlobalRes.Analysis  </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index1", "ManageAnalysesRequest", new { area = "Analyses" })">@GlobalRes.Analysis </a></li>

                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-paint-bucket"></i> <span> @GlobalRes.Running (@ViewBag.Contract) </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index1", "ManageWorking", new { area = "Analyses" })">@GlobalRes.Running (@ViewBag.Contract)</a></li>

                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-paint-bucket"></i> <span> @GlobalRes.SupportRequests (@ViewBag.AllSuport) </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        @*<li><a href="@Url.Action("Index1", "ManageSupportRequest", new { area = "SupportRequest" })">@GlobalRes.SupportRequests </a></li>*@
                        <li><a href="@Url.Action("Index1", "ManageSupportRequest", new { area = "SupportRequest" })">@GlobalRes.RequesSupport (@ViewBag.SupportRequest)</a></li>
                        <li><a href="@Url.Action("Index1", "ManageSupportVisit", new { area = "SupportRequest" })">@GlobalRes.RequestVisit (@ViewBag.SupportVist)</a></li>
                        <li><a href="@Url.Action("Index1", "ManageSupportServices", new { area = "SupportRequest" })">@GlobalRes.RequestServices (@ViewBag.SupportService) </a></li>

                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-paint-bucket"></i> <span> @GlobalRes.Engineers  </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index1", "ManageEngineeringTasks", new { area = "EngineeringTasks" })">@GlobalRes.Order </a></li>
                        <li><a href="@Url.Action("EnginerringTasks", "ManageEngineeringTasks", new { area = "EngineeringTasks" })">@GlobalRes.TasksEngineers  </a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-paint-bucket"></i> <span> @GlobalRes.Visits  </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index1", "ManageVisites", new { area = "Visites" })">@GlobalRes.Visits  </a></li>

                    </ul>
                </li>
                @*<li>
                        <a href="typography.html" class="waves-effect waves-primary">
                            <i class="ti-infinite"></i><span> Typography </span><span class="badge badge-pink pull-right">1</span>
                        </a>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="ti-light-bulb"></i><span> Components </span> <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="components-grid.html">Grid</a></li>
                            <li><a href="components-carousel.html">Carousel</a></li>
                            <li><a href="components-widgets.html">Widgets</a></li>
                            <li><a href="components-nestable-list.html">Nesteble</a></li>
                            <li><a href="components-range-sliders.html">Range Sliders </a></li>
                            <li><a href="components-sweet-alert.html">Sweet Alerts </a></li>
                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="ti-spray"></i>
                            <span> Icons </span> <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="icons-materialdesign.html">Material Design</a></li>
                            <li><a href="icons-themifyicon.html">Themify Icons</a></li>
                            <li><a href="icons-ionicons.html">Ion Icons</a></li>
                            <li><a href="icons-fontawesome.html">Font awesome</a></li>
                            <li><a href="icons-weather.html">Weather Icons</a></li>
                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-pencil-alt"></i><span> Forms </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li><a href="form-elements.html">General Elements</a></li>
                            <li><a href="form-advanced.html">Advanced Form</a></li>
                            <li><a href="form-validation.html">Form Validation</a></li>
                            <li><a href="form-wizard.html">Form Wizard</a></li>
                            <li><a href="form-wysiwig.html">WYSIWYG Editor</a></li>
                            <li><a href="form-summernote.html">Summernote</a></li>
                            <li><a href="form-uploads.html">Multiple File Upload</a></li>
                            <li><a href="form-xeditable.html">X-editable</a></li>
                        </ul>
                    </li>

                    <li class="menu-title">More</li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-menu-alt"></i><span> Tables </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li><a href="tables-basic.html">Basic Tables</a></li>
                            <li><a href="tables-datatable.html">Data Table</a></li>
                            <li><a href="tables-editable.html">Editable Table</a></li>
                            <li><a href="tables-responsive.html">Responsive Table</a></li>
                            <li><a href="tables-tablesaw.html">Tablesaw Table</a></li>
                            <li><a href="tables-foo-tables.html">Foo Table</a></li>
                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="ti-stats-up"></i><span> Charts </span> <span class="badge badge-primary pull-right">8</span>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="chart-flot.html">Flot Chart</a></li>
                            <li><a href="chart-morris.html">Morris Chart</a></li>
                            <li><a href="chart-chartist.html">Chartist chart</a></li>
                            <li><a href="chart-nvd3.html">Nvd3 charts</a></li>
                            <li><a href="chart-chartjs.html">Chartjs charts</a></li>
                            <li><a href="chart-peity.html">Peity Charts</a></li>
                            <li><a href="chart-sparkline.html">Sparkline Charts</a></li>
                            <li><a href="chart-other.html">Other Chart</a></li>
                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="ti-map"></i><span> Maps </span><span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="map-google.html"> Google Map</a></li>
                            <li><a href="map-vector.html"> Vector Map</a></li>
                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="ti-email"></i><span> Mail </span> <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="mail-inbox.html">Inbox</a></li>
                            <li><a href="mail-compose.html">Compose Mail</a></li>
                            <li><a href="mail-read.html">View Mail</a></li>
                        </ul>
                    </li>

                    <li class="menu-title">Extras</li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="ti-files"></i><span> Pages </span> <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="pages-blank.html">Blank Page</a></li>
                            <li><a href="pages-login.html">Login</a></li>
                            <li><a href="pages-register.html">Register</a></li>
                            <li><a href="pages-recoverpw.html">Recover Password</a></li>
                            <li><a href="pages-lock-screen.html">Lock Screen</a></li>
                            <li><a href="pages-confirmmail.html">Confirm Mail</a></li>
                            <li><a href="pages-404.html">404 Error</a></li>
                            <li><a href="pages-500.html">500 Error</a></li>
                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="ti-gift"></i><span> Extras </span> <span class="badge badge-success pull-right">12</span>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="extras-profile.html">Profile</a></li>
                            <li><a href="extras-team.html">Team Members</a></li>
                            <li><a href="extras-timeline.html">Timeline</a></li>
                            <li><a href="extras-invoice.html">Invoice</a></li>
                            <li><a href="extras-calendar.html">Calendar</a></li>
                            <li><a href="extras-email-template.html">Email template</a></li>
                            <li><a href="extras-maintenance.html">Maintenance</a></li>
                            <li><a href="extras-coming-soon.html">Coming-soon</a></li>
                            <li><a href="extras-gallery.html">Gallery</a></li>
                            <li><a href="extras-pricing.html">Pricing</a></li>
                            <li><a href="extras-faq.html">FAQ</a></li>
                            <li><a href="extras-treeview.html">Treeview</a></li>
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class="ti-share"></i><span>Multi Level </span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><span>Menu Level 1.1</span>  <span class="menu-arrow"></span></a>
                                <ul style="">
                                    <li><a href="javascript:void(0);"><span>Menu Level 2.1</span></a></li>
                                    <li><a href="javascript:void(0);"><span>Menu Level 2.2</span></a></li>
                                    <li><a href="javascript:void(0);"><span>Menu Level 2.3</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><span>Menu Level 1.2</span></a>
                            </li>
                        </ul>
                    </li>*@

            </ul>

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>