﻿
@model EmployeesVm

<link href="~/Scripts/select2.css" rel="stylesheet" />

@using (Html.BeginForm("Create", "ManageEmployees", new { area = "BasicInput" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-dialog" style="width: 900px;">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@GlobalRes.AddOrUpdate &nbsp; &nabla; @GlobalRes.Employees</h4>
            </div>
            <div class="modal-body" style="width :900px;">
                <div class="panel">
                    @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div  id="tab1_1" class="tab-pane active">
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        @Html.HiddenFor(model => model.Id)
                                        @Html.LabelFor(mode => mode.NameAr, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control" } })*@


                                        <input type="text" class="form-control" id="NameAr" name="NameAr" value="@Model.NameAr">
                                    </div>

                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.NameEn, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="NameEn" name="NameEn" value="@Model.NameEn">

                                        @*@Html.EditorFor(model => model.NameEn, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                </div>


                                <br />
                                <div class="row">

                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.WorkSystemId, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">

                                        @Html.EditorFor(model => model.WorkSystemId, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>

                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.SpecializationsId, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">

                                        @Html.EditorFor(model => model.SpecializationsId, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>

                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.Nationality, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="Nationality" name="Nationality" value="@Model.Nationality">

                                        @*@Html.EditorFor(model => model.CustomerWebSite, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>

                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.FaceNumber, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="FaceNumber" name="FaceNumber" value="@Model.FaceNumber">

                                        @*@Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                </div>




                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.Salary, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="Salary" name="Salary" value="@Model.Salary">

                                        @*@Html.EditorFor(model => model.CustomerWebSite, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>

                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.WorkHours, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="WorkHours" name="WorkHours" value="@Model.WorkHours">

                                        @*@Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                </div>

                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.WorkLocation, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="WorkLocation" name="WorkLocation" value="@Model.WorkLocation">

                                        @*@Html.EditorFor(model => model.CustomerWebSite, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>

                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.DateOfAppointment, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control input-circle datepicker" id="DateOfAppointment" name="DateOfAppointment" value="@Model.DateOfAppointment">

                                        @*@Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.EmployeeTypeId, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">

                                        @Html.EditorFor(model => model.EmployeeTypeId, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>
                                </div>

                                <br />
                                @if (Model.Id == 0)
                                {
                                    <div class="row">
                                        <div class="col-md-2">
                                            @Html.LabelFor(mode => mode.UserName, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="UserName" name="UserName" value="@Model.UserName">

                                            @*@Html.EditorFor(model => model.CustomerWebSite, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                        </div>

                                        <div class="col-md-2">
                                            @Html.LabelFor(mode => mode.Password, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-4">
                                            <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password">

                                            @*@Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                        </div>
                                    </div>
                                }
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-md-5">

                                    </div>
                                    <div class="col-md-5">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">@GlobalRes.btnCancel</button>

                                        <input type="button" value="@GlobalRes.btnSave" class="btn yellow Saveee" onclick="Save()" />
                                    </div>
                                </div>
                               
                               
                                
                                                              
                               

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
                    </div>

                    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>
                    }



<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
</script>



<script src="~/Scripts/select2.min.js"></script>
<script>
        $(document).ready(function () {
            $('.select2').select2();
            // $('.select5').select2();
        });
        $("#DateOfAppointment").datepicker("setDate", 'yyyy-mm-dd');

        // LoadChangeCurruncy();
        $('.datepicker').datepicker({
            dateFormat: 'yy-mm-dd'
        });

</script>