﻿
@model IEnumerable<EmployeesVm>

<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th>@BasicInputRes.Id</th>
                        <th>@BasicInputRes.NameAr</th>
                        <th>@BasicInputRes.NameEn</th>
                        <th>@Customers.Resources.EmployeeRes.EmployeeRes.Nationality</th>
                        <th>@Customers.Resources.EmployeeRes.EmployeeRes.FaceNumber</th>
                        <th>@Customers.Resources.EmployeeRes.EmployeeRes.WorkLocation</th>
                        <th>@Customers.Resources.EmployeeRes.EmployeeRes.Salary</th>




                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.NameAr</td>
                            <td>@item.NameEn</td>
                            <td>@item.Nationality</td>
                            <td>@item.FaceNumber</td>
                            <td>@item.WorkLocation</td>
                            <td>@item.Salary</td>

                            <td>
                                <div class="btn-group display-inline pull-right text-align-left hidden-tablet">
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog fa-lg"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-xs pull-right">
                                        <li class="text-align-center">
                                            <button type="button" class="btn btn-success   waves-effect waves-light m-b-0" id="btnUpdate" onclick="Edit(@item.Id)">@GlobalRes.btnEdit</button>
                                        </li>
                                        <li class="divider"></li>

                                        <li>
                                            <a type="button" class="btn btn-info   waves-effect waves-light m-b-0" id="btnUpdate" @*onclick="WorkContract(@item.Id)"*@ href="@Url.Action("AddWorkContract", new { Id=item.Id})">عقد عمل</a>
                                        </li>
                                        <li class="divider"></li>

                                        <li>
                                            <a type="button" class="btn btn-warning   waves-effect waves-light m-b-0" id="btnUpdate" href="@Url.Action("AddCondition", new { Id=item.Id})"> اضافه شرط</a>
                                        </li>
                                      
                                        
                                        <li class="divider"></li>
                                        <li class="text-align-center">
                                            <button type="button" class="btn btn-danger  waves-effect waves-light m-b-0" onclick="Delete(@item.Id)"> @GlobalRes.btnDelete</button>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        </div>
    </div>

        <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


        </script>




