﻿
@model IEnumerable<EngineeringTaskVm>

<div class="">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th>@EngineeringTaskRes.OrderNumber</th>
                        <th>@EngineeringTaskRes.OrderAddress</th>
                        <th>@EngineeringTaskRes.OrderDetails</th>
                        <th>@EngineeringTaskRes.OrderDate</th>
                        <th>@EngineeringTaskRes.OrderChangeDate</th>
                        <th>@EngineeringTaskRes.EndDate</th>

                        <th>@EngineeringTaskRes.OrderCase</th>
                        <th>@EngineeringTaskRes.OrderFile</th>



                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.OrderNumber</td>
                            <td>@item.OrderAddress</td>
                            <td>@item.OrderDetails</td>
                            <td>@item.OrderDate</td>
                            <td>@item.EndDate</td>
                            <td>@item.OrderChangeDate</td>
                            @if (item.OrderCase == 0)
                            {
                                <td>لم يتم الاستلام بعد</td>
                            }
                            @if (item.OrderCase == 1)
                            {
                                <td>تم الاستلام</td>
                            }
                            @if (item.OrderCase == 2)
                            {
                                <td>تم التاجيل</td>
                              
                            }
                            @if (item.OrderCase == 3)
                            {
                                <td>تم الانتهاء</td>
                            }
                            @if (item.OrderFile != null)
                            {
                                <td><a href="~/Uploaded/EnginneringTasks/@item.OrderFile" download>تحميل الملف</a></td>
                            }
                            else
                            {
                                <td>لا يوجد ملف</td>
                            }


                            <td>
                                <div class="btn-group display-inline pull-right text-align-left hidden-tablet">
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog fa-lg"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-xs pull-right">
                                        @if (item.OrderCase == 0)
                                        {
                                        <li class="text-align-center">
                                            <button type="button" class="btn btn-success   waves-effect waves-light m-b-0" id="btnUpdate" onclick="AcceptOrder(@item.Id)">استلام الطلب</button>
                                        </li>
                                        }
                                        @if (item.OrderCase == 1) { 
                                        <li class="divider"></li>
                                        <li class="text-align-center">
                                            <button type="button" class="btn btn-danger  waves-effect waves-light m-b-0" onclick="DelayOrder(@item.Id)">تاجيل الطلب</button>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="text-align-center">
                                            <button type="button" class="btn btn-warning  waves-effect waves-light m-b-0" onclick="FinshedOrder(@item.Id)">انهاء الطلب</button>
                                        </li>
                                        }
                                        @if (item.OrderCase == 2)
                                        {
                                            <li class="text-align-center">
                                                <button type="button" class="btn btn-warning  waves-effect waves-light m-b-0" onclick="FinshedOrder(@item.Id)">انهاء الطلب</button>
                                            </li>
                                        }
                                        @if (item.OrderCase == 3)
                                        {

                                        }
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


</script>




