﻿
@model EngineeringTaskVm



@using (Html.BeginForm("Create", "ManageEngineeringTasks", new { area = "EngineeringTasks" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-dialog" style="width: 900px;">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@GlobalRes.AddOrUpdate &nbsp; &nabla; @GlobalRes.Items</h4>
            </div>
            <div class="modal-body" style="width :900px;">
                <div class="panel">
                    @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div id="tab1_1" class="tab-pane active">
                                <div class="row">

                                    <div class="col-md-2">
                                        @Html.HiddenFor(model => model.Id)
                                        @Html.HiddenFor(model => model.OrderCase)


                                        @Html.LabelFor(mode => mode.EmployeeId, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">

                                        @Html.EditorFor(model => model.EmployeeId, new { htmlAttributes = new { @class = "form-control input-circle" } })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.HiddenFor(model => model.Id)
                                        @Html.LabelFor(mode => mode.OrderNumber, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="OrderNumber" name="OrderNumber" value="@Model.OrderNumber" class="form-control" />

                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                    
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        @*<input type="text" id="NameEn" name="NameEn" value="@Model.NameEn" class="form-control" />*@

                                        @Html.LabelFor(mode => mode.OrderAddress, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="OrderAddress" name="OrderAddress" value="@Model.OrderAddress" class="form-control" />

                                        @*@Html.EditorFor(model => model.NameEn, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.OrderDetails, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <textarea type="text" id="OrderDetails" name="OrderDetails" value="@Model.OrderDetails" class="form-control" > @Model.OrderDetails</textarea>

                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                  
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        @*<input type="text" id="NameEn" name="NameEn" value="@Model.NameEn" class="form-control" />*@

                                        @Html.LabelFor(mode => mode.OrderDate, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="OrderDate" name="OrderDate" value="@Model.OrderDate" class="form-control input-circle datepicker" />

                                        @*@Html.EditorFor(model => model.NameEn, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.EndDate, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="EndDate" name="EndDate" value="@Model.EndDate" class="form-control input-circle datepicker" /> 

                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                  
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        @*<input type="text" id="NameEn" name="NameEn" value="@Model.NameEn" class="form-control" />*@

                                        @Html.LabelFor(mode => mode.OrderFile, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="file" id="file" name="file" value="@Model.OrderFile" class="form-control input-circle" />

                                        @*@Html.EditorFor(model => model.NameEn, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                               </div>

                                <br />
                                <div class="row">
                                    <div class="col-md-6">

                                    </div>
                                    <div class="col-md-3">
                                        <input type="button" value="@GlobalRes.btnSave" class="btn yellow Saveee" onclick="Save()" />
                                        <button type="button" class="btn btn-default" data-dismiss="modal">@GlobalRes.btnCancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
                    </div>

                    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>
                    }



<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
    $("#EndDate").datepicker("setDate", 'yyyy-mm-dd');
    $("#OrderDate").datepicker("setDate", 'yyyy-mm-dd');
    $("#OrderChangeDate").datepicker("setDate", 'yyyy-mm-dd');

    // LoadChangeCurruncy();
    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd'
    });
</script>


