﻿
@model EngineeringTaskVm

@using (Html.BeginForm("FinshedOrder", "ManageEngineeringTasks", new { area = "EngineeringTasks" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{

<div class="modal-dialog" style="width: 900px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> @GlobalRes.btnDelete  </h4>
        </div>
        <div class="modal-body" style="width :900px;">

            @Html.HiddenFor(model => model.EmployeeId)
            @Html.HiddenFor(model => model.OrderAddress)
            @Html.HiddenFor(model => model.OrderChangeDate)
            @Html.HiddenFor(model => model.OrderDate)
            @Html.HiddenFor(model => model.OrderDetails)
            @Html.HiddenFor(model => model.OrderFile)
            @Html.HiddenFor(model => model.OrderNumber)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.EndDate)
            <h4 class="modal-title">هل تريد انهاء الطلب </h4>
            <div class="row">
                <div class="col-md-3">
                    <input type="button" value="انهاء" class="btn yellow Saveee" onclick="Save(@Model.Id)" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">@GlobalRes.btnCancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
}
