﻿
@model IEnumerable<SupportVisitVm>

<div class="">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th>@BasicInputRes.Id</th>
                        <th>@SupportRequestsRes.CustomerId</th>
                        <th>ظابط التواصل</th>
                        <th>@SupportRequestsRes.VisitReason</th>
                        <th>@SupportRequestsRes.VisitDate</th>
                        <th>@SupportRequestsRes.HourDate</th>
                        <th>الموظف المسئول</th>
                        <th>حاله الطلب</th>
                        @*<th>@SupportRequestsRes.HourDate</th>
                        <th>@SupportRequestsRes.Image</th>*@


                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.CustomerName</td>
                            <td><button type="button" id="btnUpdate" onclick="GetContact(@item.CustomerId)">@GlobalRes.GetContact</button></td>

                            <td>@item.VisitReason</td>

                            <td>@item.VisitDate</td>
                            <td>@item.VisitHoure</td>
                            @if (item.EmployeeId != 0)
                            {
                                <td>@item.EmployeeName</td>

                            }
                            else
                            {
                                <td>مدير النظام</td>
                            }

                            @if(item.Details == null)
                            {
                                <td>
                                   
                                    لم تتم الزياره
                            </td>
                            }
                            else
                            {
                                <td>
                                    <p>تم التنفيذ</p>
                            @item.Details</td>
                            }

                            <td>
                                <div class="btn-group display-inline pull-right text-align-left hidden-tablet">
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog fa-lg"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-xs pull-right">
                                        @if (Customers.Helpers.Utilities.ResourcesReader.UserTypeId == 1)
                                        {
                                            <li class="divider"></li>
                                            <li class="text-align-center">
                                                <button type="button" class="btn btn-warning   waves-effect waves-light m-b-0" id="btnUpdate" onclick="AddVisitDetails(@item.Id)">اضافه زياره</button>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="text-align-center">
                                                <button type="button" class="btn btn-default   waves-effect waves-light m-b-0" id="btnUpdate" onclick="ChangeToEmployee(@item.Id)"> تحويل لموظف</button>
                                            </li>
                                        }
                                        else
                                        {
                                        <li class="text-align-center">
                                            <button type="button" class="btn btn-success   waves-effect waves-light m-b-0" id="btnUpdate" onclick="Edit(@item.Id)">@GlobalRes.btnEdit</button>
                                        </li>
                                        <li class="divider"></li>

                                        <li class="text-align-center">
                                            <button type="button" class="btn btn-danger  waves-effect waves-light m-b-0" onclick="Delete(@item.Id)"> @GlobalRes.btnDelete</button>
                                        </li>
                                        }
                                        @*<li class="divider"></li>
                                        <li class="text-align-center">
                                            <a href="javascript:void(0);" class="btn btn-warning waves-effect waves-light m-b-0" aria-hidden="true">@GlobalRes.btnCancel</a>
                                        </li>*@
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        </div>
</div>

        <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


</script>









